.facts-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    
}

.facts-heading {
    display: flex;
    font-size: 4rem;
    font-weight: 900;

}