.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 15px;
    margin: 20px 150px 10px 150px;

  }
  
  .card {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
    border-radius: 15px;
    margin: 10px 5px;
  }
  
  .profile-picture {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    align-self: center;
    margin: 30px;
  } 

  .profile-card{
    display: flex;
    align-items: center;
  }

  .card > p{
    text-align: center;
    font-style: italic;
  }
 
  .person-details > h3{
    font-size: 18px;
    margin-bottom: -5px;
  }
  .person-details > p{
    font-size: 14px;
    color: rgb(120, 117, 117);
  }
  